# Ambiente virtuale
env/

# Python
__pycache__/

# IDE
.vscode/
.vs/ 

# Sistema operativo
.DS_Store
Thumbs.db

# Variabili d'ambiente
.env
.env.local


# Extra
structure.txt
project_code.txt
calibration_images/
depth_map.npy
depth_map.png
depth_map.csv
